<div id="conversion-table" class="hide-conversion">
  <table class="conversion">
    <tr>
      <th>Fraction</th>
      <th>Decimal </th>
    </tr>

    <tr class="<%= cycle("odd", "even") -%>">
      <td>1/64</td>
      <td>.015625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>1/32</td>
      <td>.03125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>3/64</td>
      <td>.046875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>1/16</td>
      <td>.0625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>5/64</td>
      <td>.078125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>3/32</td>
      <td>.09375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>7/64</td>
      <td>.109375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>1/8</td>
      <td>.1250</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>9/64</td>
      <td>.140625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>5/32</td>
      <td>.15625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>11/64</td>
      <td>.171875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>3/16</td>
      <td>.1875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>13/64</td>
      <td>.203125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>7/32</td>
      <td>.21875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>15/64</td>
      <td>.234375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>1/4</td>
      <td>.2500</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>17/64</td>
      <td>.265625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>9/32</td>
      <td>.28125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>19/64</td>
      <td>.296875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>5/16</td>
      <td>.3125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>21/64</td>
      <td>.328125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>11/32</td>
      <td>.34375</td>
    </tr>
  </table>



  <table class="conversion">
    <tr>
      <th>Fraction</th>
      <th>Decimal </th>
    </tr>

    <tr class="<%= cycle("odd", "even") -%>"><td>23/64</td>
      <td>.359375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>3/8</td>
      <td>.3750</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>25/64</td>
      <td>.390625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>13/32</td>
      <td>.40625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>27/64</td>
      <td>.421875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>7/16</td>
      <td>.4375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>29/64</td>
      <td>.453125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>15/32</td>
      <td>.46875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>31/64</td>
      <td>.484375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>1/2</td>
      <td>.5000</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>33/64</td>
      <td>.515625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>17/32</td>
      <td>.53125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>35/64</td>
      <td>.546875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>9/16</td>
      <td>.5625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>37/64</td>
      <td>.578125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>19/32</td>
      <td>.59375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>39/64</td>
      <td>.609375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>5/8</td>
      <td>.6250</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>41/64</td>
      <td>.640625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>21/32</td>
      <td>.65625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>43/64</td>
      <td>.671875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>11/16</td>
      <td>.6875</td>
    </tr>
  </table>



  <table class="conversion">
    <tr>
      <th>Fraction</th>
      <th>Decimal </th>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>45/64</td>
      <td>.703125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>23/32</td>
      <td>.71875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>47/64</td>
      <td>.734375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>3/4</td>
      <td>.7500</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>49/64</td>
      <td>.765625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>25/32</td>
      <td>.78125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>51/64</td>
      <td>.796875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>13/16</td>
      <td>.8125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>53/64</td>
      <td>.828125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>27/32</td>
      <td>.84375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>55/64</td>
      <td>.859375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>7/8</td>
      <td>.8750</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>57/64</td>
      <td>.890625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>29/32</td>
      <td>.90625</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>59/64</td>
      <td>.921875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>15/16</td>
      <td>.9375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>61/64</td>
      <td>.953125</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>31/32</td>
      <td>.96875</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>63/64</td>
      <td>.984375</td>
    </tr>
    <tr class="<%= cycle("odd", "even") -%>"><td>1</td>
      <td>1.0000</td>
    </tr>
  </table>
</div>
